<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<body>
<div layout:fragment="content">

    <div class="row content">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Modify
                </div>
                <div class="card-body">
                    <form th:action="@{/board/modify}" method="post" id="f1">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Bno:</span>
                            <input class="form-control" type="text" name="bno"
                                   th:value="${dto.bno}"
                                   readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title:</span>
                            <input class="form-control" type="text" name="title"
                                   th:value="${dto.title}"
                                   placeholder="board 제목을 입력해주세요">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Content:</span>
                            <textarea class="form-control col-sm-5" rows="5" name="content"
                                      th:text="${dto.content}"
                            >
                        </textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"> Writer:  </span>
                            <input class="form-control" type="text"
                                   th:value="${dto.writer}"
                                   name="writer" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"> RegDate:  </span>
                            <input class="form-control" type="text"
                                   th:value="${#temporals.format(dto.regDate,'yyyy-MM-dd HH:mm:ss')}"
                                   name="regDate" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"> ModDate:  </span>
                            <input class="form-control" type="text"
                                   th:value="${#temporals.format(dto.modDate,'yyyy-MM-dd HH:mm:ss')}"
                                   name="modDate" disabled>
                        </div>

<!--                        <button type="button" class="btn btn-primary listBtn">목록가기</button>-->
                        <button type="button" class="btn btn-secondary modBtn">수정하기</button>
                        <button type="button" class="btn btn-danger removeBtn">삭제하기</button>
                    </form>
                </div>
            </div> <!--        card 끝나는 부분-->
        </div> <!--        col 끝나는 부분-->
    </div> <!--        row 끝나는 부분-->

    <!--    첨부파일 썸네일 출력할 영역-->
    <!--    글작성 폼에서, 코드 재사용-->
    <!--    첨부 이미지 출력 해보기. -->
    <!--                        첨부한 이미지 섬네일 화면 미리보기 영역, -->
    <div class="row mt-3">
        <div class="col">
            <div class="d-flex uploadResult" style="flex-wrap: wrap">
                <!--                추가 작업, 이제는 게시글에 BoardDTO , 게시글, 댓글 갯수, 첨부 이미지들 다있음.-->
                <!--                꺼내서, 보여주기. -->
                <th:block th:each="fileName : ${dto.fileNames}">
                    <div class="card col-4" th:with="arr = ${fileName.split('_')}">
                        <div class="card-header d-flex justify-content-center">
                            [[${arr[1]}]]
                            <button class="btn-sm btn-danger"
                                    th:onclick="removeFile([[${arr[0]}]],[[${arr[1]}]],this)">
                                X
                            </button>
                        </div>
                        <div class="card-body">
                            <img th:src="|/view/s_${fileName}|" th:data-src="${fileName}">
                        </div>
                    </div>

                </th:block>

            </div>
        </div>
    </div>
    <!--                        첨부할 이미지 모달창 추가,(화면에 출력되어있지만 가려진 상태)-->
    <!--    첨부 파일 업로드 하는 폼 , 모달창 필요함. -->
    <!--    첨부파일 썸네일 출력할 영역-->


    <!--    첨부파일 추가를 위한 모달창. 글등록시 사용한 모달창 재사용-->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>업로드 파일</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <!--                        <span class="input-group-text">첨부 파일</span>-->
                        <input type="file" name="files"
                               class="form-control" multiple></input>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary closeRegisterBtn" data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary uploadBtn">업로드하기</button>
                </div>
            </div>
        </div>
    </div>
    <!--    첨부파일 추가를 위한 모달창. 글등록시 사용한 모달창 재사용-->


</div>
<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]]
    console.log("서버로부터 받은 유효성 체크 오류 : ", errors)

    let errorMsg = ''
    if(errors) {
        for ( let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}는 : ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    // 수정 로직 처리 , 이벤트 작업.
    const link = [[${pageRequestDTO.getLink()}]]
    // form 태그를 이용해서, 폼내부에 있는 값을 서버에 전달.
    const formObj = document.querySelector("#f1")

    document.querySelector(".modBtn").addEventListener("click", function (e){
        e.preventDefault();
        e.stopPropagation();

        formObj.action = `/board/modify?${link}`
        formObj.method = "post"
        formObj.submit()
    }, false
    )

    // 삭제하기.
    document.querySelector(".removeBtn").addEventListener("click", function (e){
            e.preventDefault();
            e.stopPropagation();

            formObj.action = `/board/remove`
            formObj.method = "post"
            formObj.submit()
        }, false
    )

    // 화면에서, 엑스박스를 클릭시, 화면에서 제거를 하기.
    // 글작성 화면에서, 첨부이미지를 포함해서, 서버에 axios 이용해서 전달하는 과정과 거의 비슷.
    // 수정시, 최종으로 삭제할 파일을 담아둘 목록 만들기.
    //최종으로 삭제할 첨부 파일 목록
    const removeFileList = []

    function removeFile(uuid, fileName, obj) {
        // yes -> 계속 삭제 진행,
        // no -> 함수 나가기.
        if (!confirm("파일을 삭제하시겠습니까?")) {
            return
        }
        console.log("uuid : " + uuid)
        console.log("fileName : " + fileName)
        console.log("obj : " + obj)
        console.log("removeFileList : " + removeFileList)


        // 삭제할 명단에 추가하기
        removeFileList.push({uuid, fileName})
        // 화면 상에서 카드 요소를 제거하기.
        const targetDiv = obj.closest(".card")
        targetDiv.remove()

    }


</script>
</body>
</html>